.Hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 80px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  color: var(--color-text);
  z-index: 1;
  width: 50%;
  margin-bottom: 20px;
}

.content h2 {
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
}

.content span {
  color: var(--orange);
  font-weight: bold;
  font-size: 2.3rem;
}

.content .description {
  font-size: 20px;
  color: var(--gray);
  margin-top: 10px;
}

.description {
  font-size: 25px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.icons-hero {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}

.icons-hero img {
  width: 2rem;
  margin-left: 10px;
}

.icons-hero a {
  cursor: pointer;
}

.imgss {
  flex: 1;
  position: relative;
  width: 50%;
  max-width: 100%;
}

@media screen and (max-width: 730px) {

  .content {
    width: 100%;
  }
}

.blur22 {
  background: rgb(255, 210, 255);
  position: absolute;
  width: 22rem;
  height: 16rem;
  border-radius: 60%;
  background: #fbd0ff;

  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

.blur21 {
  background: rgba(238, 210, 255, 0.76);
  position: absolute;
  width: 22rem;
  height: 16rem;
  border-radius: 60%;
  background: #edd0ff;

  z-index: -9;
  top: 20%;
  left: 20%;
  filter: blur(72px);
}