.nav-container {
  max-width: 65.63169rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.06rem;
  margin: 2.06rem auto;
}
.logo {
  width: 22%;
}
.logo img{
  width: 3.1rem;
}
.logo .logo1{
    font-size: 30px;
    color: var(--orange);
    font-weight: bold;
    font-style: italic;
}
.logo2{
    color: #0F0F0F;
    font-weight: bold;
    font-style: italic;
}
@media(max-width:1050px){
  .logo {
    width: 51%;
  }
  .nav-items {
    width: 50%;
  
  }
}
.nav-items {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items ul {
  display: flex;
  transition: 0.6s ease-in;
}
.nav-items ul a {
  margin-right: 2.19rem;
  color: rgba(15, 15, 15, 1);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.50206rem;
  text-transform: capitalize;
  text-decoration: none !important;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.nav-items ul a:hover{
  color: var(--orange);
border-bottom: 1px solid var(--orange);
}

.btn-mode button {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #0F0F0F;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.50206rem;
}

button img {
  width: 1.25rem;
  margin-right: 0.25rem;
}

.toggler-icon {
  cursor: pointer;
  display: none;
  margin-right: 0.5rem;

}

.toggler-icon div {
  width: 25px;
  height: 2px;
  background-color: var(--orange);
  margin: 5px 0px;
}


@media screen and (max-width:992px) {
  .toggler-icon {
      display: block;
  }

  .nav-items {
      position: fixed;
      background-color: var(--orange);
      flex-direction: column;
      color: #0F0F0F;
      text-align: start;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      transform: translateX(100%);
      transition: 0.5s ease;
      z-index: 8;
      padding-bottom: 20px;
  }

  ul {
      flex-direction: column;
      justify-content: center;
      margin: 3.56rem 0;
      padding: 0 1rem !important;

  }

  ul a {
      color: white !important;
      margin: 1.5rem 0;
  
  }

  .button-nav button {
      margin: 0;
  }

}
@media(max-width:1130px){
  .nav-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}

.nav-collapse {
  transform: translateX(0%);
}

.toggle .line-1 {
  transform: translate(-5px, 7px) rotate(-45deg);
  background-color: black

}

.toggle .line-2 {
  opacity: 0;
  background-color: black;
}

.toggle .line-3 {
  transform: translate(-5px, -7px) rotate(45deg);
  background-color:  black
;
}


/*  */
